.LoginContent {
  background-image: url("https://c.neevacdn.net/image/fetch/s--DaG7X9Pa--/https%3A//tse2.mm.bing.net/th%3Fid%3DOIP.W2ytV3-foXPmgp6fS3Gi2QEyDM%26pid%3DApi?savepath=th");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}